h1 {
    color: red;
    background-color: aqua
}

h2 {
    color: blue;
    background-color: purple
}

h3 {
    color: fuchsia;
    background-color: aquamarine
}

h4 {
    color: forestgreen;
    background-color: gold
}

h5 {
    color: fuchsia;
    background-color: blueviolet
}

h6 {
    color: olivedrab;
    background-color: violet
}

p {
    color: aqua;
    background-color: coral;
    font-family: 'Malgun Gothic', 'Malgun Gothic';
}

#Parra1 {
    color:black;
    background-color: coral;
    font-family: 'Malgun Gothic', 'Malgun Gothic';
}
#parra2{
    color:red;
    background-color:yellow;

}

input{
        background-color:hotpink;

}